
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titre titre titre"
        "photo photo photo"
        "photo photo photo"
        "recettes recettes recettes"
        "recettes recettes recettes"
        "recettes recettes recettes";
justify-content: center;
}

.titre {
    grid-area: titre;
    text-align: center;
}

.photo {
    grid-area: photo;
}

.recettes {
    grid-area: recettes;
}

.photo img{
    max-width: 900px;
    max-height: 300px;
    border-radius: 30px;
}